body {
  /* Starry background */
  background-color: #2e222f;
  background-image: url("../media/images/stars.png");
  background-size: 20%;

  color: white;
}



a {
  color: white;
}

a:active {
  color: white;
}

div {
  background-color: black;
}

.main_div { 
  border: 2px solid white;
}