@font-face {
    font-family: 'custard';
    src: local('pixelsix.ttf');
}

body {
    font-family: 'custard', 'Helvetica', 'Arial', sans-serif;
    text-align: centre;
    height: 100%;
    padding: 0;

    /* Starry background */
    background-color: #2e222f;
    background-image: url("../media/images/stars.png");
    background-size: 275px;
  
    color: white;
}

hr {
    border: none;
    border-radius: 5px;
    /*border-top: 2px solid rgb(195, 195, 195);*/
    border-top: 2px solid #545454;
}

a {
    color: white;
}

a:hover{
    color: #cbb3e6;
}

a:active {
    color: white;
}

.main_div {
    text-align: left;
    align-items: left; 
    border-radius: 5px;
    border: 2px solid #cbb3e6;

    /* For desktop: */
    width: 46.875vw;
    padding: 25px;
    padding-block: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .main_div {
        /* For mobile */
        width: auto;
        padding: 25px;
        padding-block: 5px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.chromatic {
    text-shadow: 0.02em 0.01em 0px rgba(251, 12, 12, 1), 
    0em -0.02em 0px rgba(12, 79, 251, 1),
    -0.02em 0em 0px rgba(52, 251, 12, 1);
}

.badges img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    transition: 100ms;
}
.badges img:hover {
    position: relative;
    scale: 1.5;
    transition: 100ms;
}