---
import "$lib/styles/app.css";
import Layout from "$lib/layouts/Layout.astro";
//import ProjectCard from "$lib/components/custom/projectcard.svelte";
//import { Separator } from "$lib/components/ui/separator/index.js";
---

<Layout title="Fishing at the Edge of the World">
    <div class="space-between space-y-5">
        <h1>Fishing at the Edge of the World</h1>
        <p>
            Welcome to alpha testing! Currently, the game takes around 30-40
            minutes to beat. Please <a href="https://obsproject.com/"
                >record your gameplay</a
            > if possible!
        </p>

        <ul>
            <li>
                <h3>
                    <a
                        href="https://drive.google.com/drive/folders/1_j-l1kLUGDbPbtaFoJ3A2rQRDQ5sNtKf"
                        >Latest build of game (v0.0.0)</a
                    >
                </h3>
            </li>
            <li>
                <h3>
                    <a href="https://forms.gle/wmV2gPSWwe2Zhydw8"
                        >Feedback form</a
                    >
                </h3>
            </li>
        </ul>
    </div></Layout
>
