---
import "$lib/styles/app.css";
import Layout from "$lib/layouts/Layout.astro";
//import ProjectCard from "$lib/components/custom/projectcard.svelte";
//import { Separator } from "$lib/components/ui/separator/index.js";
---

<Layout title="Fishing at the Edge of the World">
    <div class="space-between space-y-5">
        <h1>Fishing at the Edge of the World - Playtest</h1>
        <p>
            <p>
                <i>
                    This game contains discussions of death, violence and
                    existential dread.<br />Player discretion is advised.</i
                >
            </p>
            Welcome to beta testing! Currently, the game takes around 30-40 minutes
            to beat. Latest build: v0.0.1
            <br />

            <h3>Instructions</h3>

            <ol>
                <li>
                    <a
                        href="https://drive.google.com/drive/folders/162eGn3gQpB7jrRqT4hqCiH3X9yJ8frOW"
                        >1. Download the game</a
                    >
                </li>
                <li>
                    <p>
                        <a href="https://obsproject.com/"
                            >2. Record your gameplay</a
                        > if possible - this makes debugging easier!
                    </p>
                </li>
                <li>
                    <a href="https://forms.gle/wmV2gPSWwe2Zhydw8"
                        >3. Fill out the feedback form</a
                    >
                </li>
            </ol>
        </p>
    </div>
</Layout>
