---
import "$lib/styles/app.css";
import Layout from "$lib/layouts/Layout.astro";
//import ProjectCard from "$lib/components/custom/projectcard.svelte";
//import { Separator } from "$lib/components/ui/separator/index.js";
---

<Layout title="Fishing at the Edge of the World">
    <div class="space-between space-y-5">
        <h1>Fishing at the Edge of the World - Playtest</h1>
        <p>
            <p>
                Welcome to beta testing! This game should take around 30-40
                minutes to beat.<br />
            </p>
            <h3>Content warning</h3>
            <p>
                <i>
                    This game contains discussions of death, violence and
                    existential dread. Player discretion is advised.</i
                >
            </p>
            <h3>Known bugs</h3>
            <p>
                Currently, there is an undiagnosed & rare crash that happens
                upon leaving a house area. Please save often!<br /> If you encounter
                any bugs (even known ones), <a
                    target="_blank"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfPU6_4Dv2PveREGZNaE58EFZg9lBh8jhLEOFJXlsqNehPDbw/viewform?usp=dialog"
                    >report them here</a
                >.
            </p>
            <h3>Instructions</h3>

            <ol>
                <li>
                    <a
                        href="https://drive.google.com/drive/folders/162eGn3gQpB7jrRqT4hqCiH3X9yJ8frOW"
                        target="_blank">1. Download the game</a
                    >
                </li>
                <li>
                    <p>
                        <a href="https://obsproject.com/" target="_blank"
                            >2. Record your gameplay</a
                        > if possible - this makes debugging easier!
                    </p>
                </li>
                <li>
                    <a
                        href="https://forms.gle/wmV2gPSWwe2Zhydw8"
                        target="_blank"
                        >3. Fill out and submit the feedback form</a
                    >
                </li>
            </ol>
        </p>
    </div>
</Layout>
