---
import "$lib/styles/app.css";
import Layout from '$lib/layouts/Layout.astro';
import Test from '$lib/components/custom/character/test.svelte'

---

<Layout title="Index">
    <p>Site currently under maintenance. <a href="/stoneburner/"><u>New project</u></a> coming soon!</p>
</Layout>
