---
import "$lib/styles/app.css";
---

<html lang="en">
    <head>
        <title>Index</title>
    </head>
    <body>
        <p>Site currently under maintenance. <a href="/stoneburner/">New project</a> coming soon!</p>
    </body>
</html>