---
import "$lib/styles/app.css";
import Layout from '$lib/layouts/Layout.astro';
---

<Layout title="Sitemap" description="A map of the site">
    <div class="space-between space-y-5">
        <h1>Sitemap</h1>
        <p><a href="/stoneburner"><u>Stoneburner Initiative Tracker</u></a></p>
    </div>
</Layout>


