---
import "$lib/styles/app.css";
import { Button } from "$lib/components/ui/button";
---
 
<html lang="en">
	<head>
		<title>Stoneburner Initiative</title>
	</head>
	<body>
        <h1>Stoneburner</h1>
		<Button>Hello World</Button>
	</body>
</html>