---
import "$lib/styles/app.css";
import Layout from '$lib/layouts/Layout.astro';

import { Button } from "$lib/components/ui/button";
import { Card, CardTitle, CardContent, CardFooter } from "$lib/components/ui/card";
import { Input } from "$lib/components/ui/input";

import CharacterList from "$lib/components/custom/character/characterlist.svelte";
import Character from "$lib/components/custom/character/character.svelte";

import Test from "$lib/components/custom/character/test.svelte";

---

<!-- Load theme js -->

 
<script>
	function test() {
		console.log('test');
		alert('test')
	}
</script>


<Layout title="Initiative">
  <div>
    <h1>Stoneburner Initiative Tracker</h1>
  </div>

  <div class="h-svh flex flex-row"> <!-- Note: space-between space-x-3 not working -->
    <CharacterList title="Up Next" position="left" client:load />
    <CharacterList title="Turn Order" position="right" client:load />  
  </div>

  <br>

  <div>
    <!-- <p><i>The current initiative is automatically saved to your browser's storage.</i></p> -->
  </div>

		<!-- <AddButton on:click{} />-->

</Layout>

</script>
