---
import "$lib/styles/app.css";
import Layout from '$lib/layouts/Layout.astro';

import { Card, CardTitle, CardContent, CardFooter } from "$lib/components/ui/card";
import Character from "$lib/components/custom/character/character.svelte";
---

<Layout title="TEST">
    <div class="h-svh flex flex-row">
        <Card class="p-2.5 flex-1 overflow-y-auto space-between space-y-2.5 flex flex-col h-full space-y-2.5">
            <Character/>
            <Character/>
            <div class="bg-accent flex-grow" style="pointer-events: none;">Drop elements here.</div>
        </Card>
    </div>
</Layout>